body{
    width: 100%;
}
.submit-btn{
    background-color: #FA8080;
    border: none;
    
}
.create-btn{
    background-color: #E0E0E0;
    border: none;
}
.sideimage{
    height: 100vh;
    width: 100%;
    border-radius: 10px;
}
.loginform{
    width: inherit;
}
.user_card{
    position: inherit;
    width: auto;
    margin-top: 100px;
    background-color: white;
}
